extends layout
 
block content

	meta(
		name="actor",
		data-lrs-actor-name="John Smith Becerra",
		data-lrs-actor-account="jsmithb"
	)

	meta(
		name="context",
		data-lrs-context-domain-id="382785"
		data-lrs-context-domain-code="99.987"
		data-lrs-context-domain-name="Aula Demo TecEduc"
		data-lrs-context-activity-id="694269"
		data-lrs-context-activity-name="activitat 2"
	)

	.container

		.masthead
			ul.nav.nav-pills.pull-right
				li.active
					a(href='#') Home
				li
					a(href='#') About
				li
					a(href='#') Contact
			.jumbotron
				h1 UOC Learning Record Store
				p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

				table.table.table-striped
					thead
						tr
							th Table
							th Heading
					tbody
						tr
							td Blah
							td
								a.a-special(
									href="https://cv-test.uoc.edu/webapps/aulaca/classroom/ViewLearningGuide.action?s=&amp;domainId=382784", 
									data-lrs-object-id="https://cv-test.uoc.edu/webapps/aulaca/classroom/ViewLearningGuide.action?s=&amp;domainId=382784",
									data-lrs-object-type="http://cv-test.uoc.edu/app/lrs/definitions/pladocent",
									data-lrs-object-name="Pla docent",
									data-lrs-object-params-domainId="382784"
								) Pla docent
 
	div.footer